<div class="card-header lighten-1 white-text">
    Nova Fatura
</div>
<div class="card-body">
    <form>
        <div class="form-group">
            <label for="inputReferencia">Referência</label>
            <input type="text" class="form-control" name="inputReferencia" aria-describedby="emailHelp" placeholder="mm/aaaa" [(ngModel)]=referencia>
            <small class="form-text text-muted"> Mês do vencimento da fatura </small>

        </div>
        <div class="form-group">
            <label for="bancoSelect">Banco: </label>
            <select class="form-control" name="bancoSelect" [(ngModel)]="bancoSelecionado">
              <option *ngFor="let banco of bancos" [ngValue]="banco"> {{banco}} </option>
            </select>
            <small class="form-text text-muted"> Para Bradesco e BB importar como txt do site do banco, para Itau copiar do html e montar o txt manualmente </small>
        </div>
    </form>
    <button class="btn btn-primary" (click)="carregarFatura()"> Carregar Fatura </button>
    <div class="input-group mt-sm-4">
        <input type="file" name="inputArquivo" (change)="lerArquivo($event)" value="$event.files">
    </div>

    <table class="table mt-sm-5">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Descricao</th>
                <th scope="col">Valor</th>
                <th scope="col">Rateio</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let itemCompra of itensFatura">
                <td> {{itemCompra.data | date: 'dd/MM'}}</td>
                <td> {{itemCompra.descricao}} </td>
                <td> R$ {{itemCompra.valor | number: '1.2'}} </td>
                <td> <select class="form-control" name="responsavelSelect" [(ngModel)]="itemCompra.responsavel" (change)="calcularTotais()">
                    <option *ngFor="let responsavel of rateio" [ngValue]="responsavel"> {{responsavel}} </option>
                  </select></td>
                <td> <button class="btn btn-danger" (click)=excluirItemFatura(itemCompra)> excluir </button></td>
            </tr>
        </tbody>
    </table>

    <p> Total Fatura : {{resumoConta.totalConta | number: '1.2' }} </p>
    <p> Total Maísa : {{resumoConta.totalMaisa | number: '1.2' }} </p>
    <p> Total Elias : {{resumoConta.totalElias | number: '1.2' }} </p>
    <p> Restante não atribuido : {{resumoConta.restanteNaoAtribuido | number: '1.2' }} </p>
</div>